# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo
temp/
visual/

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

# LaTeX auxiliary files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
**/*.pdf
!**/main.pdf
*.run.xml
*.toc
*.synctex.gz
*.out
*.lof
*.lot
*.nav
*.snm
*.vrb
